.day {
  h1 {
    margin-top: 0;
  }

  .parts {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 40rem;
    margin-bottom: 2rem;

    .part {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .getSolution {
      flex-grow: 1;
    }

    .iterations {
      flex-basis: 25%;
      flex-shrink: 1;
    }
  }
}
